[data-md-color-scheme="mcgill"] {
  --md-primary-fg-color:        #ede21b;
  --md-code-hl-number-color:    #ede21b;
  --md-accent-fg-color:         #ede21b;
  --md-primary-fg-color--light: #ede21b;
  --md-primary-fg-color--dark:  #ede21b;
}
