[data-md-color-scheme="mcgill"] {
  --md-primary-fg-color:        #1b41ed;
  --md-code-hl-number-color:    #1b41ed;
  --md-accent-fg-color:         #1b41ed;
  --md-primary-fg-color--light: #1b41ed;
  --md-primary-fg-color--dark:  #1b41ed;
}
