[data-md-color-scheme="mcgill"] {
  --md-primary-fg-color:        #1daa0e;
  --md-code-hl-number-color:    #1daa0e;
  --md-accent-fg-color:         #1daa0e;
  --md-primary-fg-color--light: #1daa0e;
  --md-primary-fg-color--dark:  #1daa0e;
}
