[data-md-color-scheme="mcgill"] {
  --md-primary-fg-color:        #bdae0f;
  --md-code-hl-number-color:    #bdae0f;
  --md-accent-fg-color:         #bdae0f;
  --md-primary-fg-color--light: #bdae0f;
  --md-primary-fg-color--dark:  #bdae0f;
}
